{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div class="container">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <div class="create_post">
            <h3 id="new_post">New Post</h3>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="post-content" id="post_content"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Post</button>
            </form>
        </div>
        </div>
    {% endif %}
    <div class="container" id="posts">
    {% for post in page_posts %}
        <div id="post">
        <p><strong>Post By: </strong>
            <a href="{% url 'profile' user_id=post.postAuther.id  %}" id="post-auther">{{ post.postAuther }}</a>
        </p>
        <p><strong>Date: </strong>
            {{ post.postDate }}
        </p>
            {% if post.postAuther == request.user %}
            <a href="">Edit</a>
            {% endif %}
        <div id="content">{{ post.postContent }}</div>
            <a href=""><i class="fas fa-heart" style="font-size: 20px;color: red"></i>{{ post.postLikes }}</a>
        </div>
    {% endfor %}
    </div>
    {% include 'network/pagination.html' %}
{% endblock %}